.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--bg-secondary);
  padding: 25px 30px 25px 0px;
  max-width: 1110px;
  border-radius: var(--rounded-xl);
  -webkit-border-radius: var(--rounded-xl);
  -moz-border-radius: var(--rounded-xl);
  -ms-border-radius: var(--rounded-xl);
  -o-border-radius: var(--rounded-xl);
}

.summary-box {
  padding: 5px 5px 5px 5px;
}

.content-box {
  width: 508px;
  height: 226px;
  padding: 0 0 0 40px;
}

.container .card-box .card {
  background-color: transparent;
  border: none;
}

.summary-box .card-box .card .card-img img {
  max-width: 445px;
  object-fit: contain;
}

.content-box .card-box .card .card-desc .card-caption .body-large-semibold {
  padding: 20px 0 30px 0;
}

.content-box .card-box .card .card-action .button {
  color: white;
  padding: 13px 20px 13px 20px;
  background-color: var(--primary-color);
  border-radius: var(--rounded-sm);
  -webkit-border-radius: var(--rounded-sm);
  -moz-border-radius: var(--rounded-sm);
  -ms-border-radius: var(--rounded-sm);
  -o-border-radius: var(--rounded-sm);
}

@media screen and (max-width: 1024px) {
  .container {
    padding: 25px 30px 25px 30px;
  }
}

@media screen and (max-width: 926px) {
  .content-box {
    padding: 20px 0 0 30px;
  }
  .content-box .card-box .card .card-label h3 {
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {
  .content-box {
    padding: 20px 0 0 30px;
  }
  .summary-box {
    padding: 0;
  }
  .content-box .card-box .card .card-desc .card-caption .body-medium-size {
    padding: 0 0 25px 0;
  }
  .summary-box .card-box .card .card-img img {
    max-width: 330px;
  }
}

@media screen and (max-width: 426px) {
  .container {
    flex-direction: column;
    justify-content: center;
  }
  .content-box {
    width: auto;
    padding: 20px;
  }
  .content-box .card-box {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 376px) {
  .summary-box .card-box .card .card-img img {
    max-width: 250px;
  }
}

@media screen and (max-width: 321px) {
  .summary-box .card-box .card .card-img img {
    max-width: 240px;
  }
  .content-box {
    padding: 20px 0 20px 0;
  }
}
