.section[data-variant="horizontal"] {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-box[data-variant="hide"] {
  display: none;
}

.summary-box[data-variant="banner-cta-variant-3"] {
  display: flex;
  align-items: center;
  justify-content: center;
}

.summary-box[data-variant="banner-cta-variant-3"] .card-box .card {
  width: 1109px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-primary);
}

.summary-box[data-variant="banner-cta-variant-3"]
  .card-box
  .card
  .card-desc
  .card-caption
  .body-large-semibold {
  text-align: justify;
}

.summary-box[data-variant="banner-cta-variant-3"] .card .card-img {
  width: 70%;
}

.summary-box[data-variant="banner-cta-variant-3"] .card .card-img img {
  width: 383px;
  height: 264px;
}

.summary-box[data-variant="banner-cta-variant-3"] .card-box .card .card-desc {
  padding: 0 50px;
}

.summary-box[data-variant="banner-cta-variant-3"]
  .card-box
  .card
  .card-desc
  .card-caption
  .body-large-semibold {
  padding: 20px 0;
}

.summary-box[data-variant="banner-cta-variant-3"]
  .card-box
  .card
  .card-desc
  .card-caption
  h3 {
  font-weight: bold;
}

.summary-box[data-variant="banner-cta-variant-3"]
  .card-box
  .card
  .card-desc
  .card-action
  .btn {
  background-color: var(--secondary-color);
  color: white;
}

@media screen and (max-width: 1024px) {
  .summary-box[data-variant="banner-cta-variant-3"] {
    padding: 0 20px;
  }
  .summary-box[data-variant="banner-cta-variant-3"] .card {
    max-width: 950px;
  }
}

@media screen and (max-width: 768px) {
  .summary-box[data-variant="banner-cta-variant-3"] .card {
    max-width: 690px;
  }
  .summary-box[data-variant="banner-cta-variant-3"] .card .card-img {
  }
  .summary-box[data-variant="banner-cta-variant-3"] .card-box .card .card-desc {
    padding: 0 10px 0 10px;
  }
  .summary-box[data-variant="banner-cta-variant-3"]
    .card-box
    .card
    .card-desc
    .card-caption
    .body-large-semibold {
    text-align: justify;
  }
  .summary-box[data-variant="banner-cta-variant-3"]
    .card-box
    .card
    .card-desc
    .card-caption
    .body-large-semibold
    p {
    padding: 0 50px;
  }
}

@media screen and (max-width: 425px) {
  .summary-box[data-variant="banner-cta-variant-3"] {
    padding: 10px 0;
  }
  .summary-box[data-variant="banner-cta-variant-3"] .card-box .card {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  .summary-box[data-variant="banner-cta-variant-3"] .card-box .card .card-desc {
    text-align: justify;
    padding: 20px 20px 20px 20px;
  }
  .summary-box[data-variant="banner-cta-variant-3"]
    .card-box
    .card
    .card-desc
    .card-caption
    h3 {
    text-align: center;
  }

  .summary-box[data-variant="banner-cta-variant-3"]
    .card-box
    .card
    .card-desc
    .card-action
    .btn
    a {
    text-align: center;
  }

  .summary-box[data-variant="banner-cta-variant-3"]
    .card-box
    .card
    .card-desc
    .card-action {
    text-align: center;
  }

  .summary-box[data-variant="banner-cta-variant-3"] .card-box .card {
    padding-bottom: 10px;
  }
  .summary-box .card-box .card .card-img {
    position: relative;
    width: 100%;
    height: auto;
  }
  .summary-box .card-box .card .card-img img {
    display: block;
    width: 100%;
    height: auto;
  }
  .summary-box .card-box .card .card-img::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 500px;
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 80%,
      rgba(255, 255, 255, 1) 100%
    );
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    -ms-border-radius: 500px;
    -o-border-radius: 500px;
  }
  img {
    width: 400px;
    height: 289px;
  }
}
