.content-box[data-variant="banner-cta-variant-4"] {
  width: 100%;
}

.content-box[data-variant="banner-cta-variant-4"] .banner-box {
  width: 100%;
  margin: 52px 0 0 0;
  border-radius: var(--rounded-lg);
  /* padding: 32px; */
}

.content-box[data-variant="banner-cta-variant-4"] .banner-box .banner {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.content-box[data-variant="banner-cta-variant-4"] .banner-label {
  display: none;
}

.content-box[data-variant="banner-cta-variant-4"] .banner-img {
  object-fit: cover;
}

.content-box[data-variant="banner-cta-variant-4"] .banner-img img {
  width: 100%;
}

.content-box[data-variant="banner-cta-variant-4"] .banner-desc-head {
  display: none;
}

/* .content-box[data-variant="banner-cta-variant-4"] .banner-desc {
  margin: 32px 32px 32px 0px;
} */

.content-box[data-variant="banner-cta-variant-4"] .banner-desc .banner-caption {
  margin-bottom: 10px;
}

.content-box[data-variant="banner-cta-variant-4"] .banner-caption h3 {
  display: none;
}

.content-box[data-variant="banner-cta-variant-4"] .banner-caption p {
  display: none;
}

.content-box[data-variant="banner-cta-variant-4"]
  .banner-desc
  .banner-caption
  h4 {
  display: none;
}

.content-box[data-variant="banner-cta-variant-4"] .banner-price {
  display: none;
}

.content-box[data-variant="banner-cta-variant-4"] .banner-action a {
  padding: 12px 20px;
  background-color: var(--primary-color);
  color: white;
  border-radius: var(--rounded-md);
  font-size: var(--font-body-large-size);
  font-weight: var(--font-semibold);
  border: var(--rounded-lg);
}

@media (max-width: 1024px) {
  .content-box[data-variant="banner-cta-variant-4"] .banner-caption h3 {
    font-size: var(--font-h4-size);
  }
}

@media (max-width: 768px) {
  .content-box[data-variant="banner-cta-variant-4"] .banner-box {
    /* padding: 32px 20px; */
    gap: 30px;
  }
  /* .content-box[data-variant="banner-cta-variant-4"] .banner-desc {
    margin: 32px 32px 0px 32px;
  } */

  .content-box[data-variant="banner-cta-variant-4"] .banner-box .banner {
    align-items: center;
    justify-content: center;
  }
  .content-box[data-variant="banner-cta-variant-4"] .banner-img img {
    content: url("./../../../images/content/banner-variant-4-2.png");
  }
}
