.section[data-variant="vertical"] .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section[data-background="hide"] .container .img-background {
  display: none;
}
