/* SUMMARY Variant 4 */

.summary-box[data-variant="summary-variant-4"] {
  width: 100%;
}

.summary-box[data-variant="summary-variant-4"] .card {
  border: none;
  width: 100%;
}

.summary-box[data-variant="summary-variant-4"] .card-label {
  display: none;
}

.summary-box[data-variant="summary-variant-4"] .card-img {
  display: none;
}

.summary-box[data-variant="summary-variant-4"] .card-desc {
  width: max-content;
}

.summary-box[data-variant="summary-variant-4"] .card-caption {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.summary-box[data-variant="summary-variant-4"] .card-caption h4 {
  display: none;
}

.summary-box[data-variant="summary-variant-4"] .card-caption h3 {
  display: flex;
  flex-direction: column;
}

.summary-box[data-variant="summary-variant-4"] .card-action {
  display: none;
}

/* END OF SUMMARY VARIANT 3 */
