/* global style settings */

.section[data-variant="slider-1"] {
  /* margin-top: 100px; */
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
}

.section[data-variant="slider-1"] .container {
  background: var(--primary-color);
  border-top-left-radius: var(--rounded-16xl);
  border-bottom-right-radius: var(--rounded-16xl);
  padding: 50px  0;
  margin: auto;
  max-width: calc(1440px);
}

/* .section[data-variant="slider-1"] .container-fluid {
  max-width: 100%;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
} */

.summary-box[data-variant="card-slider-1"] .card {
  border: none;
  background:none;
}

.summary-box[data-variant="card-slider-1"] .card-label {
  display: none;
}

.summary-box[data-variant="card-slider-1"] .card-img {
  display: none;
}

.summary-box[data-variant="card-slider-1"] .card-caption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.summary-box[data-variant="card-slider-1"] .card-caption h4 {
  display: none;
}

.summary-box[data-variant="card-slider-1"] .card-caption h3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:var(--text-light);
}

.summary-box[data-variant="card-slider-1"] .card-caption p {
  display: none;
}

.summary-box[data-variant="card-slider-1"] .card-action {
  display: none;
}


/* .content-box[data-variant="card-slider-1"] {
  margin-top: 30px;
} */
.content-box[data-variant="card-slider-1"] .swiper {
  width: 100%;
  height: calc(100% * 33.3% / 100%);
  overflow: hidden;
}

.content-box[data-variant="card-slider-1"] .swiper .swiper-wrapper {
  margin-bottom: 50px;
}
.content-box[data-variant="card-slider-1"] .swiper .swiper-wrapper .swiper-slide {
  position: relative;
  opacity: 0.5;
  transform: scale(0.85);
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

.content-box[data-variant="card-slider-1"] .swiper-backface-hidden .swiper-wrapper .swiper-slide {
  transform: scale(0.85) translateZ(0);
  opacity: 1;
}

.content-box[data-variant="card-slider-1"] .swiper-slide.swiper-slide-active {
  transform: scale(1) !important;
  opacity: 1;
}

.content-box[data-variant="card-slider-1"] .swiper-backface-hidden .swiper-slide.swiper-slide-active {
  transform: scale(1) translateZ(0) !important;
}

.content-box[data-variant="card-slider-1"] .swiper .swiper-pagination-bullet-active {
  /* border-radius: var(--rounded-sm); */
  /* width: 20px;
    height: 5px; */
  background-color: var(--secondary-color);
}

.content-box[data-variant="card-slider-1"] .swiper .swiper-wrapper .swiper-slide .card {
  background: none;
  border: none;
}
.content-box[data-variant="card-slider-1"] .swiper .swiper-wrapper .swiper-slide .card .card-img-wrapper {
  width: 100%;
  max-width: 730px;
  /* height: 100%; */
  max-height:275px;
  border-radius: var(--rounded-xl);
  object-fit: cover;
  padding: 20px;
}

.content-box[data-variant="card-slider-1"] .swiper .swiper-wrapper .swiper-slide .card .card-img-wrapper img {
  object-fit: cover;
  /* display: block; */
  width: 100%;
  border-radius: var(--rounded-xl);

  /* margin: 2px; */
}

.content-box[data-variant="card-slider-1"] .swiper .swiper-wrapper .swiper-slide .card .card-body {
  display: none;
}

@media (min-width: 768px) {
  .content-box[data-variant="card-slider-1"] .swiper {
    height: calc(90% * 33.3% / 100%);
  }

  .content-box[data-variant="card-slider-1"] .swiper .swiper-wrapper .swiper-slide {
    width: 100%;
    transform: scale(0.85);
  }

  .content-box[data-variant="card-slider-1"] .swiper-backface-hidden .swiper-slide {
    transform: scale(0.85) translateZ(0);
  }
  .content-box[data-variant="card-slider-1"] .card {
    /* max-width: 400px; */
  }
  .content-box[data-variant="card-slider-1"] .swiper .swiper-wrapper .swiper-slide .card .card-img-wrapper {
    
  }

}
