.section {
  margin-top: 150px;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1110px;
  height: max-content;
  border-radius: var(--rounded-md);
  background-color: var(--bg-primary);
  -webkit-border-radius: var(--rounded-md);
  -moz-border-radius: var(--rounded-md);
  -ms-border-radius: var(--rounded-md);
  -o-border-radius: var(--rounded-md);
}

.content-box {
  text-align: justify;
  text-justify: auto;
  padding: 10px 20px 20px 50px;
}

.content-box .card-box .card {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.content-box .card-box .card .card-action .btn {
  color: white;
  background-color: #387478;
  padding: 15px 20px 15px 20px;
  border-radius: var(--rounded-md);
  -webkit-border-radius: var(--rounded-md);
  -moz-border-radius: var(--rounded-md);
  -ms-border-radius: var(--rounded-md);
  -o-border-radius: var(--rounded-md);
}

.container .summary-box .card-box .card .card-img img {
  margin-top: -47px;
  margin-bottom: -4px;
  max-width: 430px;
  object-fit: cover;
}

.summary-box .card-box .card-label {
  display: none;
}

@media screen and (max-width: 768px) {
  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90%;
  }
  .content-box {
    text-align: center;
    padding: 20px 20px 20px 20px;
  }
  .content-box .card-box .card {
    gap: 30px;
    padding-bottom: 10px;
  }
  .summary-box .card-box .card .card-img {
    position: relative;
    width: 100%;
    height: auto;
  }
  .summary-box .card-box .card .card-img img {
    display: block;
    width: 100%;
    height: auto;
  }
  .summary-box .card-box .card .card-img::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 500px;
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 80%,
      rgba(255, 255, 255, 1) 100%
    );
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    -ms-border-radius: 500px;
    -o-border-radius: 500px;
  }
  img {
    width: 400px;
    height: 289px;
  }
}
