/* CONTENT Variant 2 */
.content-box[data-variant="card-variant-2"] {
  margin: 20px auto 0 auto;
  width: 100%;
  gap: var(--spacing-6xl) 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.content-box[data-variant="card-variant-2"] .card-box {
  margin: auto;
}

.content-box[data-variant="card-variant-2"] .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-3xl);
  background-color: transparent;
  border: none;
  width: 350px;
  min-height: 326px;
  border-radius: var(--rounded-lg);
  padding: 16px;
  transition: transform 1s ease, box-shadow 1s ease;
}

.content-box[data-variant="card-variant-2"] .card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);

  .card-img img {
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease, visibility 1s ease;
    display: none;
  }

  .card-caption p {
    display: block;
    overflow: visible;
    text-overflow: unset;
    transition: all 1s ease;
  }
}

.content-box[data-variant="card-variant-2"] .card-label {
  display: none;
}

.content-box[data-variant="card-variant-2"] .card-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-box[data-variant="card-variant-2"] .card-img img {
  max-width: 160px;
  object-fit: cover;
  border-radius: var(--rounded-lg);
  transition: opacity 1s ease, visibility 1s ease;
  opacity: 1;
  visibility: visible;
}

.content-box[data-variant="card-variant-2"] .card-desc-head {
  display: none;
}

.content-box[data-variant="card-variant-2"] .card-caption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.content-box[data-variant="card-variant-2"] .card-caption p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content-box[data-variant="card-variant-2"] .card-caption h6 {
  display: none;
}

.content-box[data-variant="card-variant-2"] .card-price {
  display: none;
}

.content-box[data-variant="card-variant-2"] .card-action {
  display: none;
}



/* END OF CONTENT VARIANT 2 */
