@media only screen and (max-width: 576px) {
   
}

@media only screen and (max-width: 768px) {
    .content-box[data-variant="card-8"] .card-box .card {
        flex-direction: column !important;
    }

    .content-box[data-variant="card-8"] .card-img {
        width: 100% !important;
    }

    .content-box[data-variant="card-8"] .card-desc {
        text-align: center;
        width: 100% !important;
    }
}

@media only screen and (max-width: 992px) {
    .content-box[data-variant="card-8"] .card-box .card {
        gap: 40px !important;
        flex-direction: column !important;
        margin-bottom: 30px !important;
    }

    .content-box[data-variant="card-8"] .card-img {
        display: flex;
        justify-content: center;
        width: 100% !important;
    }

    .content-box[data-variant="card-8"] .card-desc {
        text-align: center;
        width: 100% !important;
    }
}

@media only screen and (max-width: 400px) {
    .content-box[data-variant="card-8"] .card-img img {
        max-width: 100% !important;
        height: auto !important;
    }
}

@media only screen and (min-width: 1200px) {
    
}
.content-box[data-variant="card-8"] {
    margin-top: 60px;
}

[data-variant="card-8"] .card-label,
[data-variant="card-8"] .card-action {
    display: none;
}

.content-box[data-variant="card-8"] {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.content-box[data-variant="card-8"] .card-box {
    display: flex;
    width: 100%;
}

.content-box[data-variant="card-8"] .card-img img {
    width: 380px;
    height: 244px;
}

.content-box[data-variant="card-8"] .card-img {
    width: 40%;
}

.content-box[data-variant="card-8"] .card-desc {
    width: 60%;
}

.content-box[data-variant="card-8"] .card-desc h5 {
    margin-bottom: 30px;
}

.content-box[data-variant="card-8"] .card-box .card {
    display: flex;
    border: 0;
    flex-direction: row;
    gap: 40px;
    margin-bottom: 70px;
}

.content-box[data-variant="card-8"] .card-box:nth-child(even) .card {
    display: flex;
    flex-direction: row-reverse;
    gap: 40px;
}

[data-variant="card-8"] .card-action {
    display: none;
}