.content-box[data-variant="card-variant-6"] {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px auto 0 auto;
  gap: var(--spacing-6xl) var(--spacing-3xl);
}

.content-box[data-variant="card-variant-6"] .card-box {
  margin: auto;
}

.content-box[data-variant="card-variant-6"] .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--gray-400);
  width: 541px;
  height: auto;
  border-radius: var(--rounded-xl);
  transition: all 0.3s ease-in-out;
}

.content-box[data-variant="card-variant-6"] .card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

.content-box[data-variant="card-variant-6"] .card .card-label {
  display: none;
}

.content-box[data-variant="card-variant-6"] .card .card-img {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100%;
    height: 250px;  */
  overflow: hidden;
  /* position:absolute; */
}

.content-box[data-variant="card-variant-6"] .card .card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: var(--rounded-xl);
  border-top-right-radius: var(--rounded-xl);
  /* position:absolute; */
}

.content-box[data-variant="card-variant-6"] .card .card-desc {
  margin: 22px;
}
.content-box[data-variant="card-variant-6"]
  .card-box
  .card
  .card-desc
  .card-list {
  display: none;
}

.content-box[data-variant="card-variant-6"]
  .card-box
  .card
  .card-desc
  .card-caption
  h6 {
  display: none;
}

.content-box[data-variant="card-variant-6"]
  .card-box
  .card
  .card-desc
  .card-caption
  h5 {
  margin-bottom: 15px;
}

.content-box[data-variant="card-variant-6"] .card .card-price {
  display: none;
}

.content-box[data-variant="card-variant-6"] .card .card-action {
  display: none;
}

.content-box[data-variant="card-variant-6"]
  .card-box
  .card
  .card-desc
  .card-caption
  p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 767.98px) {
  .content-box[data-variant="card-variant-6"] {
    flex-direction: column;
    gap: var(--spacing-2xl);
    justify-content: center;
  }

  .content-box[data-variant="card-variant-6"] .card {
    width: 100%;
    margin-bottom: 20px;
  }
}
